@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: -10px;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  /*margin: 0;*/
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/

  min-height: 100vh;
  background: darkolivegreen;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

/*---Login---*/
section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a, a:visited {
  color: #fff;
}

.password-div{
  width: 100%;
  height: 100%;
  position: relative;
}

.eye-btn-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 140px;
}

#eye-btn{
  z-index: 10;
  color: gray;
}

.password-input-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.creds[type="text"],
.creds[type="password"],
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  align-items: center;
  width: 15rem;
  background: white;
  text-align: center;
}

.creds:focus{
  outline: none !important;
  border: 2px solid #3b99fc;
  box-shadow: 0 0 10px #719ECE;
}

.creds-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  align-items: center;
  margin-top: 70px;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  width: 100%;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: inherit;

}

.line {
  display: inline-block;
}

.flexGrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

{/*For CalendarBooking.js*/}

.calendar-booking-event {
  margin: 0 5px;
  width: 15rem;
  border: none;
  padding: 10px 0 10px 5px;
  border-bottom: solid 1px #1abc9c;
  border-radius: 8px;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 50rem 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  font-size: 18px;
  height: 2rem;
}

.calendar-booking-event:focus, .calendar-booking-event:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.calendar-booking-event::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.calendar-booking-event:focus::-webkit-input-placeholder, .calendar-booking-event:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-8px);
  transform: translateY(-15px);
  visibility: visible !important;
}

.Calendar-Booking {
  min-height: 150vh;
  background: whitesmoke;
  color: black;
  font-size: 16px;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
  font-size: 18px;
}

.rbc-month-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
  min-height: 28%; /*added for availabilities to show*/
}

.rbc-ellipsis, .rbc-show-more, .rbc-row-segment .rbc-event-content, .rbc-event-label {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap; /*nowrap*/
}

.rbc-timeslot-group {
  border-bottom: 1px solid #8c8c8c;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column wrap; /*nowrap*/
}

/*for Modal*/
.modal-content {
  background: black;
}
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-color: rgba(0, 0, 0, 0.175);
  --bs-modal-border-width: 1px;
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: #8c8c8c;
  --bs-modal-header-border-width: 1px;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: #8c8c8c;
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  color: black;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - var(--bs-modal-margin) * 2);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  padding: 8px;
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-header .btn-close {
  min-height: 1px;
  padding: calc(var(--bs-modal-header-padding-y) * 0) calc(var(--bs-modal-header-padding-x) * 0.2);
  margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto;
}

.modal-title {
  padding: 8px;
  margin-bottom: 0;
  line-height: 0;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer > * {
  margin: calc(var(--bs-modal-footer-gap) * 0.5);
}

@media (min-width: 576px) {
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: var(--bs-box-shadow);
  }
  .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
  }
  .modal-sm {
    --bs-modal-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header,
.modal-fullscreen .modal-footer {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header,
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header,
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header,
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header,
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header,
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
}

/*For Calendar Summary section*/
#container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 350px 0 0 0;
  padding: 5px 0;
  width: 100%;
}

/*For Profile*/
.user-details-display-top {
  height: 15rem;
  width: 70rem;
  background: #8c8c8c;
  padding: 1px 0 0 20px;
  border-radius: 0.5rem;
  text-align: left;
  margin-top: -20px;
}

.user-details {
  width: 40rem;
  margin-top: 7rem;
  height: 7rem;
}

.contactNum{
  width:12rem;
  height: 100px;
  float: left;

}

.emailAdd {
  width: 20rem;
  height: 100px;
  float: right;
  margin-right: 15rem;
}

.photo {
  width: 15rem;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: -10rem;
  display: block;
}

.user-details-display-bottom {
  height: 30rem;
  width: 70rem;
  background: darkgrey;
  padding: 1px 0 0 20px;
  border-radius: 0.5rem;
  text-align: left;
  margin-top: 5px;
  z-index: -1;
  color: black;
}

.field-group {
  background: lightgrey;
  border-radius: 8px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  width: 12rem;
  padding-left: .8rem;
}

.contact-details {
  background: lightgrey;
  border-radius: 8px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: .8rem;
}

.avatar {
  display: block;
  border-radius: 200px;
  box-sizing: border-box;
  background-color: #DDD;
  border: 5px solid #cfd8dc;
  margin-left: .6rem;
  margin-right: .6rem;
  margin-bottom: 6rem;
}

img {
  height: 300px;
  width: 300px
}

/*---for update account page---*/

.name-label label{
  float: left;
  margin-top: 70px;
  margin-left: 70px;
  font-size: 15px;
  width: 15rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: left;
  color: #000;
}

.address-label label{
  float: left;
  text-align: left;
  height: 30px;
  margin-top: 20px;
  margin-left: 70px;
  font-size: 15px;
  color: #000;
}

.birth-contact-label label{
  float: left;
  margin-top: 20px;
  margin-left: 70px;
  font-size: 15px;
  width: 15rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: left;
  color: #000;
}

.personal-details-label{
  text-align: left;
  font-family: Arial, serif;
  color: #696969;
  padding: 2px 2px;
  margin: 30px 0 -50px 50px;
}

.group-details-label {
  text-align: left;
  font-family: Arial, serif;
  color: #696969;
  padding: 2px 2px;
  margin: 50px 0 5px 50px;
}
/*name*/
.name-input input{
  padding: 5px;
  margin-right: 70px;
  margin-left: 1px;
  text-decoration: none;
  font-size: 18px;
  width: 15rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2.5rem;
  border: 0;
  border-bottom: 1px solid #ccc;
}

#firstname {
  margin-top: 5px;
  padding-left: 10px;
}
#middlename {
  margin-top: -12px;
  padding-left: 10px;
}
#lastname {
  margin-top: -12px;
  padding-left: 10px;
}
/*birth contact*/
.birth-contact-input{
  margin-top: 10px;
  font-size: 18px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
}

#birthday{
  padding-left: 10px;
}

#email{
  margin-top: -5px;
  font-size: 18px;
  height: 2rem;
  width: 15rem;
  margin-left: 7rem;
  padding-left: 10px;
}

#contact-num{
  margin-top: -5px;
  font-size: 18px;
  height: 2rem;
  width: 15rem;
  margin-left: 7rem;
  padding-left: 10px;
}

#birth-contact {
  float: left;
  width: 25rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: -110px;
}

/*address*/
.address-input input{
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 485px;
  text-decoration: none;
  font-size: 18px;
  width: 33rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
  padding: 5px 5px 5px 10px;
}

#address{
  padding-left: 10px;
}

/*cluster*/
.cluster-input{
  margin-top: 10px;
  font-size: 18px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
}

#cluster-grp {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 70px;
  padding-left: 10px;
}

#cluster-code {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 110px;
  padding-left: 10px;
}

#simbahay-grp {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 70px;
  padding-left: 10px;
}

#simbahay-code {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 110px;
  padding-left: 10px;
}

#simbahay-grp {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 70px;
  padding-left: 10px;
}

#simbahay-code {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 110px;
  padding-left: 10px;
}
/*role status*/
.role-status-input{
  margin-top: 10px;
  font-size: 18px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
}

#role {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 70px;
  padding-left: 10px;
}

#status {
  float: left;
  width: 15rem;
  height: 2rem;
  margin-right: -40px;
  margin-left: 110px;
  padding-left: 10px;
}
/*credentials*/
.credential-input{
  margin-top: 10px;
  font-size: 18px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
}

#username-info{
  width: 30%;
  height: 2rem;
  /*background-color: red; test*/
}

#user {
  float: left;
  width: 85%;
  height: 2rem;
  margin-right: -60px;
  margin-left: 70px;
  padding-left: 10px;
}

.old-password-update-acct-div{
  width: 28%;
  height: 2rem;
  position: relative;
  /*background-color: blue; test*/
  margin-left: 470px;
  bottom: 45px;
}
#old-password {
  float: left;
  width: 85%;
  height: 2rem;
  margin-right: -40px;
  margin-left: 10px;
  padding-left: 10px;
}
.eye-btn-for-acct-update-div{
  width: 25%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 260px;
}

.credential-input-2{
  margin-top: 60px;
  font-size: 18px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  height: 2rem;
}

#new-password {
  float: left;
  width: 85%;
  height: 2rem;
  margin-left: -200px;
  margin-left: 10px;
  padding-left: 10px;
}

.new-password-update-acct-div{
  width: 30%;
  height: 2rem;
  position: relative;
  /*background-color: blue; test*/
  margin-left: 60px;
  bottom: 45px;
}

.new-password-confirm-update-acct-div{
  width: 28%;
  height: 2rem;
  position: relative;
  right: -480px;
  bottom: 89px;
  /*background-color: yellow; test*/
}
#confirm-password {
  float: left;
  width: 85%;
  height: 2rem;
  margin-right: -40px;
  margin-left: 0px;
  padding-left: 10px;
}
#eye-btn-for-acct-update{
  z-index: 10;
  color: gray;
}

.eye-btn-for-acct-update-password-confirm-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 110px;
}

#eye-btn-for-acct-update-password-confirm{
  z-index: 10;
  color: gray;
}

.password-input-div{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cluster-label label{
  float: left;
  margin-top: 20px;
  margin-left: 73px;
  font-size: 15px;
  width: 15rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: left;
  color: #000;
}

.credential-label label{
  float: left;
  margin-top: 20px;
  margin-left: 73px;
  font-size: 15px;
  width: 15rem; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: left;
  color: #000;
}

.update-button button{
  float: right;
  width: 8rem;
  height: 50px;
  text-align: center;
  margin-left: -10px;
  margin-right: 30px;
  margin-top: -15px;
  border-radius: 8px;
  font-size: 18px;
}

.cancel{
  background-color: crimson;
  color: white;
}

.submit{
  background-color: #73AD21;
  color: white;
}


/*---Update Account page floating label---*/
input {
  margin: 0 25px;
  width: 200px;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  border-radius: 8px;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 50rem 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  font-size: 18px;
  height: 2rem;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-8px);
  transform: translateY(-15px);
  visibility: visible !important;
}
